body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image:url(/resources/images/6195005.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.left-section {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
}

.logoName {
  margin-right: 0.5em;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 0.4px;
  color: rgb(226, 226, 226);
}

.logoImage {
  margin-top: 7px;
  aspect-ratio: 16/9;
  height: 20px;
}

.logoImage img{
  height: 32px;
}

.right-section {
  display: flex;
  justify-content: space-between;
  width: 30em;
  margin-top: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-section button{
  font-style: "Poppins";
  background-color: transparent;
  border-style: solid;
  font-weight: 700;
  height: 2em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-radius:1em ;
  cursor: pointer;
  color: rgb(226, 225, 225);
  border-color: rgb(226, 226, 226);
  transition: 0.5s;
}

.right-section button:hover{
  color: black;
  background-color:rgb(226, 226, 226) ;
  border: black;
}

