body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image:url(/resources/images/6195005.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

li{
  list-style: none;
}

.left-section {
  display: flex;
  margin-left: 45px;
  margin-top: 20px;
  transition: 0.8s;
  cursor: pointer;
}

.logoName {
  margin-right: 0.5em;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 0.4px;
  color: rgb(226, 226, 226);
  
}

.left-section:hover{
  scale: 1.2;
}

.logoImage {
  margin-top: 7px;
  aspect-ratio: 16/9;
  height: 20px;
}


.logoImage img{
  height: 35px;
}

.right-section {
  display: flex;
  justify-content: space-between;
  width: 28.5em;
  margin-top: 20px;
  margin-right: 10px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 2rem;
}

.right-section button{
  font-style: "Poppins";
  background-color: transparent;
  border-style: solid;
  font-weight: 700;
  height: 2em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-radius:1em ;
  cursor: pointer;
  color: rgb(226, 225, 225);
  border-color: rgb(226, 226, 226);
  transition: 0.5s;
}

.menuBar{
  display: none;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

.right-section button:hover{
  color: black;
  background-color:rgb(226, 226, 226) ;
  border: black;
}

.right-section button:active{
  scale: 0.80;
}

@media(max-width: 992px){
  .right-section button{
    display: none;
  }

  .menuBar{
    display: block;
  }
}


